<div class="form-group">
    <%= f.input :name, placeholder: t('activerecord.attributes.user.name') %>
</div>
<div class="form-group">
    <%= f.input :email, placeholder: t('activerecord.attributes.user.email') %>
</div>
<div class="form-group">
    <%= f.input :password, placeholder: t('activerecord.attributes.user.password') %>
</div>
<div class="form-group">
    <%= f.input :password_confirmation, placeholder: t('activerecord.attributes.user.password_confirmation') %>
</div>
