<div class="col-md-5 col-md-offset-3">
  <div class="row">
    <div class="form-group">
      <%= f.label :text, 'Item:'%>
      <%= f.text_field :text, class: 'form-control' %>
    </div>
  </div>
  
  <div class="actions pull-right">
    <%= link_to 'Voltar', list_path(params[:list_id]), :class => "btn btn-default" %>
    <%= f.submit t('actions.save'), :class => "btn btn-success" %>
  </div>
</div>
