
a{text-decoration:underline; color:#FF5333;}

h2{text-align:center;}

.logo{margin-top:15px; display:block;}

.body{
    margin-top:120px;
    background:#fff;
    padding:20px;
    min-height:450px;
    border:solid 1px #c1c1c1;
    border-bottom:none;
}

.account{
    color:#FF5333!important;
}

.or{
    height:100%;
    border-right:1px solid red;
    display:block;
}

li.gravatar{margin-top:-10px;}

#navigation{position: fixed; top: 75px;}

.list{
    padding:20px;
    border:solid 1px #c1c1c1;
    text-align:center;
    color:#555;
}
.list img{
    padding-bottom:15px;
    margin-bottom:15px;
    border-bottom:solid 1px #ececec;
}

.modal-title .date{font-size:10px;}
.modal-body ul{margin:15px 0 15px 15px; list-style:circle;}